body {
    display: flex;
    flex-direction: column;
    background-color: hsl(288, 100%, 99%);
    font-family: "Times New Roman", Times, serif;
    align-items: center;

}

h1{
    font-size: 5vw;
    display: flex;
    text-align: center;
    /* word-break: break-word; */
    color: rgb(255, 60, 144);
    padding: 0;
    margin: 0;
    margin-bottom: 1.5vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 3vh;
    /* margin-top: 10%; */
    /* grid-template-rows: auto auto auto;  */
    
}

.header .sub_titles {
    font-size: 1.75vw;
    color: rgb(255, 60, 144);
    word-break: break-word;
    text-align: center;
    width: 40%;
    padding: 0;
    margin: 0;
}

.gif {
    width: 30vw;
}

@media screen and (max-width: 100vh) {
    .header{
        margin-top: 15vh;
        margin-bottom: 10vh;
        gap: 10px;
    }
    h1{
        font-size: 7vh;
        margin-bottom: 0;
    }
    .header .sub_titles {
        font-size: 2vh;
        width: 95%;
    }
    .gif {
        width: 80vw;
    }
}


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    gap: 20px;
    margin-top: 2vw;

}

.button {
    display: flex;
    width: 175px;
    height: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: hwb(294 82% 0%);
    border-width: 0;
    transition: 0.3s;
    color: rgb(255, 60, 144);
    font-size: 2vw;
}

.button:hover {
    background-color: lab(77.04% 46.01 -34.63);
}

.date {
    display: flex;
    /* width: 175px; */
    justify-content: center;
    width: 30vw;
    height: 50px;
    border-color: rgb(255, 142, 247);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 100vh) {
    .form {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2vh;
    }
    .button {
        border-radius: 30px;
        height: 5vh;
        width: 40vh;
        font-size: 3.5vh;
    }
    .date{
        height: 8vh;
        border-radius: 50px;
        font-size: 2vh;
        width: 40vh;
    }
}
.optional_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 8vh;
}

.option_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
    margin-bottom: 4vh;
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    width: 20vh;
}

.option_img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.check_box:checked ~ .option_img {
    border: 5px solid rgb(245, 83, 159);
}

@media screen and (max-width: 100vh) {
    
}
